---
title: 2Dベクトルの内積
---
<p>
  ２つのベクトル $\vec{v1}$ と $\vec{v2}$ があるとして、ベクトルの内積は以下のように書く。
</p>

<p class="math">$\vec{v1} \cdot \vec{v2}$</p>

<p>
  とりあえずこの式を見たら、<b>あぁ、ベクトルの内積だな</b>と思えばいいと思う。
</p>

<h2>内積の計算</h2>
<p>
  内積の計算方法は１つではないので、それぞれについて見ていく。
</p>

<h3>計算方法 その１</h3>

<div id="graph1"></div>

<p class="math">
  $\vec{v1} \cdot \vec{v2} = |\vec{v1}||\vec{v2}|cos(\theta)$
</p>

<p>
  2つのベクトルの長さと$\cos(\theta)$をかけて求める方法。<br>
  $\theta$は2つのベクトルの間の角度。
</p>

<h3>計算方法 その２</h3>

<div id="graph2"></div>

<p class="math">
  $\vec{v1} \cdot \vec{v2} = ac + bd$
</p>

<p>
  2つのベクトルの成分をかけたり足したりして求める方法。
</p>

<p>
  ベクトルのXY成分さえわかっていれば<b>ちょっとした掛け算と足し算で計算できてしまう</b>ので、こっちで計算できるならこっちの計算式で求めてしまうのがいいだろう。
</p>