---
title: 直線と円の交点
---
<div id="graph1"></div>

<h2>円と直線の交点の考え方</h2>

<p>
  円と直線の交点の求め方は少し複雑なので、まずは基本となる考え方から解説します。
</p>

<div id="graph2_1"></div>
<p>
  円と直線が重なっているとします。
</p>

<div id="graph2_2"></div>
<p>
  この時、円と直線の交点は2箇所あるので、１つを $P$、もう一つを $P'$ とします。
</p>

<div id="graph2_3"></div>
<p>
  円の中心を $C$、$C$ と直線の最近傍点を $H$ とします。
</p>

<div id="graph2_4"></div>
<p>
  直線の方向を表すベクトルを正規化したもの(長さを1にしたもの) ${\vec{n}}$ としておきます。
</p>

<div id="graph2_5"></div>
<p>
  こうすると交点 $P$ は $H$ に ${\vec{n}}$ を伸ばしたベクトルを足した位置に来ます。
</p>

<div id="graph2_6"></div>
<p>
  また交点 $P'$ は $H$ に $\vec{n}$ を逆向きに伸ばしたベクトルを足した位置に来ます。
</p>

<div id="graph2_7"></div>
<p>
  $\vec{n}$ をどれだけ伸ばせばよいかは、$H$ から $Q$ までの長さが分かればいけそうです。
</p>

<p>
  手順が長いですが、円と直線はこのような流れで求めていきます。
</p>



<h2>円と直線の交点の計算</h2>


<p>
  これで円と直線の交点が求まりました。ただここで終わりではありません。
</p>

<p>
  というのも、円と直線が接していないときは交点が存在しないですし、円と直線がぴったり接している時は交点が1しかありません。
</p>

<p>
  次はこの円と直線が接していないとき、円と直線がぴったり接している時の判定について、それぞれ見ていきます。
</p>

<h2>円と直線が接していない</h2>

<h2>円と直線が接していない時</h2>
