---
title: ベクトルの正規化
---
<div id="graph1"></div>

<p>
  ベクトルの正規化はベクトルの<b>向きを変えずに大きさ(長さ)を１にする</b>ことである。
</p>
<p>
  グラフの右にある[normalize]という所をクリックするとベクトルが正規化される様子が見られると思います。
</p>

<h2>求め方</h2>
<p>
  ベクトルの正規化は、ベクトルのxy成分をベクトルの長さで割ることで求められる。
</p>

<h3>例</h3>

<div id="graph2"></div>
<p>
  ベクトル $\vec{v}(3, 4)$ があるとする。
</p>
<p>
  まず、三平方の定理を使って $\vec{v}$ の長さを求める。
</p>

<p class="math">
  $\vec{v}$の長さ = $\sqrt{v_{x}^2 + v_{y}^2} = \sqrt{ 3^2 + 4^2 } = \sqrt{ 9 + 16 } = \sqrt{ 25 } = 5$
</p>

<p>
  $\vec{v}$ の長さは5だとわかる。
</p>

<p>
  次に、$\vec{v}$ のxy成分を、上で求めた長さで割る
</p>

<p class="math">
  x成分：$3 \div 5 = 0.6$<br>
  y成分：$4 \div 5 = 0.8$
</p>

<p>
  $\vec{v}$ を正規化した結果は $(0.6, 0.8)$ になる。
</p>

<h3>計算式</h3>

<p class="math">
  $\vec{v}(v_{x}, v_{y})$ があり、正規化したベクトルを $\vec{n}(n_{x}, n_{y})$ とすると<br>
  $n_{x} = \frac{v_{x}}{|\vec{v}|}$<br>
  $n_{y} = \frac{v_{y}} {|\vec{v}|}$
</p>

<h2>なぜこれで正規化されるのか</h2>

<p>
  正規化の計算はさほど難しくないが、なんでこれでベクトルの長さが１になるのかという部分がモヤっとする。
</p>

<p>
  というわけで自分なりに証明っぽいことをしてみようと思いますが、証明できるほど頭がいいのかというと非常に怪しいですよという事は予め記載しておきたい。
</p>

<h3>定義的な話</h3>
<div id="graph3"></div>

<p class="math">
  正規化したいベクトルを $\vec{v}$、正規化されたベクトルを$\vec{n}$ とする。
</p>

<p>
  正規化というのは、ざっくり言ってしまえばベクトルを伸び縮みさせて長さを１にするという話である
</p>

<p class="math">
  $\vec{v}$ を $t$ 倍した結果が $\vec{n}$ だと考えると<br><br>

  $\vec{n} = t\vec{v}$<br>
  $|\vec{n}| = |t\vec{v}| = 1$
</p>

<p>
  このような関係が成り立つはずである。
</p>

<h3>$t$は何になるのか</h3>

<p>
  $|t\vec{v}| = 1$ 、この式を展開しながら考えてみる。
</p>

<p>
  $\vec{v}$を$t$倍した結果のベクトルは $t\vec{v} = (tv_{x}, tv_{y})$ になるので
</p>

<p class="math">
  $|t\vec{v}| = 1$<br>
  $\sqrt{(tv_{x})^2 + (tv_{y})^2} = 1$<br>
  $\sqrt{t^2v_{x}^2 + t^2v_{y}^2} = 1$<br>
  $\sqrt{t^2(v_{x}^2 + v_{y}^2)} = 1$<br>
  $t\sqrt{v_{x}^2 + v_{y}^2} = 1$<br>
  $t = \frac{1}{\sqrt{v_{x}^2 + v_{y}^2}}$
</p>

<p>
  $\sqrt{v_{x}^2 + v_{y}^2}$ は $|\vec{v}|$ と同じ事なので
</p>

<p class="math">
  $t = \frac{1}{|\vec{v}|}$
</p>

<p>
  これを $\vec{n}=t\vec{v}$ の式に代入してみます
</p>

<p class="math">
  $\vec{n}=t\vec{v}=\frac{1}{|\vec{v}|}\vec{v}$<br>
</p>

<p>
  正規化されたベクトル $\vec{n}$ は $\vec{v}$ を $\vec{v}$ の長さで割ったものになりました！
  ちゃんと証明できた気がします！
</p>