---
title: 三平方の定理
---

<div id="graph1"></div>

<p class="math">
  $c^2 = a^2 + b^2$
</p>

<p>
  三平方の定理(ピタゴラスの定理)はベクトルの長さを求めるという用途でめちゃくちゃよく使う。
</p>

<p>
  2Dベクトルは基本的に$x$, $y$成分を持っているので、三平方の定理を使えば必ず長さが求められる。
</p>

<p class="math">
  $\vec{v} = (x, y)$ として<br>
  $ベクトルの長さ = \sqrt{x^2 + y^2}$
</p>

<h2>証明</h2>

<div id="graph2"></div>

<p>
  $c^2$ は 外側の大きい四角から、三角形４つを引いた面積になるはずなので以下の式が成り立てばいい。
</p>

<p class="math">
  $c^2 = (a + b)^2 - 4(\frac{ab}{2})$<br>
  $ \ \ \ = a^2 + 2ab + b^2 - 2ab$<br>
  $ \ \ \ = a^2 + b^2$
</p>