---
title: 三平方の定理
---

<div id="graph1"></div>

<p class="math">
  $c^2 = a^2 + b^2$
</p>

<p>
  三平方の定理は三角形の底辺($a$)と高さ($b$)がわかれば、斜辺($c$)の長さがわかるという素晴らしい定理
</p>

<p class="math">
  $c^2 = a^2 + b^2$<br>
  $c = \sqrt{a^2 + b^2}$
</p>

<p>
  このように平方根を使うと、$c$(斜辺)の長さが求められる。
</p>

<p>
  正確には斜辺がわかるというより、<b>三角形の2辺の長さがわかれば、残りの1辺の長さが求められます。</b>
</p>

<p class="math">
  $a$ について解く<br>
  $c^2 = a^2 + b^2$<br>
  $a^2 = c^2 - b^2$<br>
  $a = \sqrt{c^2 - b^2}$
</p>

<p class="math">
  $b$ について解く<br>
  $c^2 = a^2 + b^2$<br>
  $b^2 = c^2 - a^2$<br>
  $b = \sqrt{c^2 - a^2}$
</p>

<p>このように、$a,b,c$ のうち 2つがわかれば、残りは求められます。(以下はまとめ)</p>

<p class="math">
  $a = \sqrt{c^2 - b^2}$<br>
  $b = \sqrt{c^2 - a^2}$<br>
  $c = \sqrt{a^2 + b^2}$<br>
</p>

<p>
  また、2Dベクトルは$x$, $y$成分を持っているので、三平方の定理を使うとベクトルの長さが求められます。
</p>

<p class="math">
  $\vec{v} = (x, y)$ として<br>
  $|\vec{v}| = \sqrt{x^2 + y^2}$
</p>

<h2>証明</h2>

<div id="graph2"></div>

<p>
  $c^2$ は 外側の大きい四角から、三角形４つを引いた面積になるはずなので以下の式が成り立てばいい。
</p>

<p class="math">
  $c^2 = (a + b)^2 - 4(\frac{ab}{2})$<br>
  $ \ \ \ = a^2 + 2ab + b^2 - 2ab$<br>
  $ \ \ \ = a^2 + b^2$
</p>