---
layout: top
title: 無職はゲーム数学の勉強をする
---
<p>
  無職が何かやらなきゃと焦って勉強した数学についてまとめているサイトです。(数学というかゲーム数学に偏ってる)
</p>

<p>
  また一部のページには数式はこうだけどプログラムで書くとしたらこうかなというイメージプログラムも掲載しています。
<p>

<p>
  ただし、このサイトに書かれてる通りやったのにバグった！とかなっても無職なので責任能力はないという事を予め宣言させていただきます。
</p>

<div class="links">

  <section>
    <h2>ベクトル 2D</h2>
    <ul>
      <li><a href="pages/vector2/normalize/">ベクトルの正規化</a></li>
      <li><a href="pages/vector2/dot/">ベクトルの内積の計算方法</a></li>
      <li><a href="pages/vector2/dot2/">ベクトルの内積の特性</a></li>
      <li><a href="pages/vector2/dot3/">ベクトルの内積の計算法則</a></li>
      <li><a href="pages/vector2/cross/">ベクトルの外積の計算方法</a></li>
      <li><a href="pages/vector2/cross2/">ベクトルの外積の特性</a></li>
      <li><a href="pages/vector2/rotation/">ベクトルの回転</a></li>
    </ul>
  </section>

  <section>

    <h2>衝突判定 2D</h2>

    <div class="flexible">
      <section>
        <h3>基本</h3>
        <ul>
          <li><a href="pages/collision2/intro/">衝突判定をしよう</a></li>
          <li><a href="pages/collision2/primitive/">衝突判定用の形状定義</a></li>
        </ul>
      </section>
      <section>
        <h3>衝突 (点と～)</h3>
        <ul>
          <li><a href="pages/collision2/point-and-point/">点と点の衝突</a></li>
          <li><a href="pages/collision2/point-and-line/">点と直線の衝突</a></li>
          <li><a href="pages/collision2/point-and-ray/">点と半直線の衝突</a></li>
          <li><a href="pages/collision2/point-and-segment/">点と線分の衝突</a></li>
          <li><a href="pages/collision2/point-and-circle/">点と円の衝突</a></li>
          <li><a href="pages/collision2/point-and-rect/">点と矩形の衝突</a></li>
          <li><a href="pages/collision2/point-and-box/">点と矩形(回転あり)の衝突</a></li>
          <li><a href="pages/collision2/point-and-triangle/">点と三角形の衝突</a></li>
          <li><a href="pages/collision2/point-and-cupsule/">点とカプセルの衝突</a></li>
          <li><a href="pages/collision2/point-and-ellipse/">点と楕円の衝突</a></li>
        </ul>
      </section>
      <section>
        <h3>衝突 (直線と～)</h3>
        <ul>
          <li><a href="pages/collision2/line-and-line/">直線と直線の衝突</a></li>
          <li><a href="pages/collision2/line-and-line-pos/">直線と直線の交点</a></li>
          <li><a href="pages/collision2/line-and-ray/">直線と半直線の衝突</a></li>
          <li><a href="pages/collision2/line-and-segment/">直線と線分の衝突</a></li>
          <li><a href="pages/collision2/line-and-circle/">直線と円の衝突</a></li>
          <li><a href="pages/collision2/line-and-circle-pos/">直線と円の交点</a></li>
          <li><a href="pages/collision2/line-and-rect/">直線と矩形の衝突</a></li>
          <li><a href="pages/collision2/line-and-box/">直線と矩形(回転あり)の衝突</a></li>
          <li><a href="pages/collision2/line-and-triangle/">直線と三角形の衝突</a></li>
          <li><a href="pages/collision2/line-and-capsule/">直線とカプセルの衝突</a></li>
        </ul>
      </section>

      <section>
        <h3>衝突 (円と～)</h3>
        <ul>
          <li><a href="pages/collision2/circle-and-circle/">円と円の衝突</a></li>
          <li><a href="pages/collision2/circle-and-circle-pos/">円と円の交点</a></li>
        </ul>
      </section>

      <section>
        <h3>衝突 (矩形と～)</h3>
        <ul>
          <li><a href="pages/collision2/rect-and-rect/">矩形と矩形の衝突</a></li>
        </ul>
      </section>            

      <section>
        <h3>最近傍点・最短距離を求める</h3>
        <ul>
          <li><a href="pages/collision2/point-and-line-nearest/">点と直線の最近傍点</a></li>
          <li><a href="pages/collision2/point-and-ray-nearest">点と半直線の最近傍点</a></li>
          <li><a href="pages/collision2/point-and-segment-nearest/">点と線分の最近傍点</a></li>
          <li><a href="pages/collision2/point-and-line-dist/">点と直線の最短距離</a></li>          
          <li><a href="pages/collision2/point-and-ray-dist">点と半直線の最短距離</a></li>
        </ul>            
      </section>

    </div>
  </section>

  <section>
    <h2>定理</h2>
    <ul>
      <li><a href="pages/theorem/pythagorean/">三平方の定理</a></li>
    </ul>
  </section>
</div>





