---
layout: top
title: MathLab
---
<p>数学出来ない子が頑張って勉強している数学系のサイト</p>
<a href="pages/tests/test1/">テスト</a>
<a href="pages/collision2/point_and_point/">点と点の衝突</a>
<a href="pages/collision2/point_and_line/">点と直線の衝突</a>
<a href="pages/vector2/cross/">ベクトルの外積</a>