---
layout: top
title: 無職はゲーム数学の勉強をする
---
<p>
  無職が何かやらなきゃと焦って勉強した数学についてまとめているサイトです。(数学というかゲーム数学に偏ってる)
</p>
<p>
  このサイトに書かれてる通りやったのにバグった！とかなっても無職なので責任能力はないという事を予め宣言させていただきます。
</p>

<div class="links">

  <section>
    <h2>ベクトル 2D</h2>
    <ul>
      <li><a href="pages/vector2/normalize/">ベクトルの正規化</a></li>
      <li><a href="pages/vector2/dot/">ベクトルの内積</a></li>
      <li><a href="pages/vector2/dot2/">ベクトルの内積の特性</a></li>
      <li><a href="pages/vector2/cross/">ベクトルの外積</a></li>
      <li><a href="pages/vector2/cross2/">ベクトルの外積の特性</a></li>
      <li><a href="pages/vector2/rotation/">ベクトルの回転</a></li>
    </ul>
  </section>

  <section>

    <h2>衝突判定 2D</h2>

    <div class="flexible">
      <section>
        <h3>図形</h3>
        <ul>
          <li><a href="pages/collision2/primitive/">衝突判定用の形状定義</a></li>
        </ul>
      </section>
      <section>
        <h3>衝突 (点と～)</h3>
        <ul>
          <li><a href="pages/collision2/point-and-point/">点と点の衝突</a></li>
          <li><a href="pages/collision2/point-and-line/">点と直線の衝突</a></li>
          <li><a href="pages/collision2/point-and-ray/">点と半直線の衝突</a></li>
          <li><a href="pages/collision2/point-and-segment/">点と線分の衝突</a></li>
          <li><a href="pages/collision2/point-and-circle/">点と円の衝突</a></li>
          <li><a href="pages/collision2/point-and-rect/">点と矩形の衝突</a></li>
          <li><a href="pages/collision2/point-and-box/">点と矩形(回転あり)の衝突</a></li>
          <li><a href="pages/collision2/point-and-triangle/">点と三角形の衝突</a></li>
          <li><a href="pages/collision2/point-and-cupsule/">点とカプセルの衝突</a></li>
          <li><a href="pages/collision2/point-and-ellipse/">点と楕円の衝突</a></li>
        </ul>
      </section>
      <section>
        <h3>衝突 (直線と～)</h3>
        <ul>
          <li><a href="pages/collision2/line-and-line/">直線と直線の衝突</a></li>
          <li><a href="pages/collision2/line-and-line-pos/">直線と直線の衝突点</a></li>
        </ul>
      </section>

      <section>
        <h3>最近傍点を求める</h3>
        <ul>
          <li><a href="pages/collision2/point-and-line-nearest/">点と直線の最近傍点</a></li>
          <li><a href="pages/collision2/point-and-ray-nearest">点と半直線の最近傍点</a></li>
          <li><a href="pages/collision2/point-and-segment-nearest/">点と線分の最近傍点</a></li>
        </ul>            
      </section>
    </div>
  </section>

  <section>
    <h2>定理</h2>
    <ul>
      <li><a href="pages/theorem/pythagorean/">ピタゴラスの定理</a></li>
    </ul>
  </section>

  <section>
    <h2>テスト</h2>
    <ul>
      <li><a href="pages/tests/test1/">テスト</a></li>
    </ul>
  </section>
</div>





