---
title: ベクトルの外積の特性
---
<p>
  ここにはベクトルの外積を使うとどんなことができるか、外積がどんな特性を持っているのかなどをまとめてみます。
</p>

<p class="math">
  外積の計算式<br>
  $\vec{a} \times \vec{b} = |\vec{a}| |\vec{b}| sin(\theta)$
</p>

<h2>ベクトルの左右の関係がわかる</h2>
<div id="graph1"></div>
<p>
  外積の結果がプラスかマイナスかを見ることで、あるベクトルがあるベクトルの左にくるのか、それとも右にくるのかを調べる事ができます。
</p>
<p>
  上のグラフでxとyをいじって$\vec{b}$を動かしてみて下さい。$\vec{b}$が青い領域にあるときは外積がプラス、赤い領域にあるときはマイナスになる事がわかると思います。
</p>

<p class="math">
  $\vec{a} \times \vec{b} &gt; 0$ の場合 $\vec{b}$ は $\vec{a}$ の左側にある。<br>
  $\vec{a} \times \vec{b} &lt; 0$ の場合 $\vec{b}$ は $\vec{a}$ の右側にある。
</p>

<h3>理屈</h3>

<p class="math">外積の計算式は $|\vec{a}| |\vec{b}| sin(\theta)$ です。<br></p>

<p>
  この計算の答えがプラスになるかマイナスになるかは$sin(\theta)$次第になります。
</p>

<div id="graph_sin"></div>

<p>
  $sin(\theta)$は0度から180度の時にプラスの値になり、180～360度の間はマイナスです。
</p>

<p>
  つまり、2つのベクトルの間の角度$\theta$が0～180度の間にある時<br>$sin(\theta)$の値はプラスになるので、外積はプラスになります。
</p>

<p>反対に、ベクトルの間の角度が180～360度の時<br>$ sin(\theta) $ はマイナスになるので、外積の結果もマイナスになります。</p>


<h2>ベクトルが平行かどうかわかる</h2>

<p class="math">
  $\vec{a} \times \vec{b} = 0$ の時、２つのベクトルは平行です。
</p>

<p>
  ２つのベクトルが平行ということは、２つのベクトルの間の角度が0度か180度ということです。
</p>

<p>
  $sin(0)$も$sin(180)$も0なので、2つのベクトルが平行の関係にあるとき、外積は必ず0になるという理屈です。
</p>

<h2>ベクトルが垂直な時の外積</h2>
<div id="graph2"></div>
<p class="math">
  $ \vec{b} $ が $ \vec{a} $ の左側で垂直になっている時<br>
  $ \vec{a} \times \vec{b} = |\vec{a}| |\vec{b}|$ が成り立ちます。
</p>

<div id="graph3"></div>
<p class="math">
  $ \vec{b} $ が $ \vec{a} $ の右側で垂直になっている時<br>
  $ \vec{a} \times \vec{b} = - |\vec{a}| |\vec{b}|$ が成り立ちます。
</p>


<h3>理屈</h3>

<p>
  $ \vec{b} $ が $ \vec{a} $ の左側で垂直になっている場合、2つのベクトルの間の角度は90度です。
</p>

<p class="math">
  $sin(90)$ は 1 になるため<br>
  $ \vec{a} \times \vec{b} = |\vec{a}| |\vec{b}| sin(0) = |\vec{a}| |\vec{b}| 1 =  |\vec{a}| |\vec{b}| $
</p>

<p>
  $ \vec{b} $ が $ \vec{a} $ の右側で垂直になっている場合、2つのベクトルの間の角度は270度です。
</p>

<p class="math">
  $sin(270)$ は -1 になるため<br>
  $ \vec{a} \times \vec{b} = |\vec{a}| |\vec{b}| sin(270) = |\vec{a}| |\vec{b}| -1 =  -|\vec{a}| |\vec{b}| $
</p>

<h2>ベクトルを正規化して外積をとると</h2>

<div id="graph4"></div>

<p>
  グラフ上の青い線の長さを$t$とします。
</p>
<p>
  $ \vec{a} $ を正規化した状態で外積を計算すると、$t$ を求める事ができます。
</p>

<p>
  青い線は $\vec{b}$ の位置から $\vec{a}$ の軸にまっすぐに落とした線で、長さは$\vec{a}$ を軸としてみた時の $\vec{b}$ の$y$成分になります。
</p>

<p>
  また、$t$ は ${\vec{a}} $ の左側の場合はプラスになり、右側の場合はマイナスの値になります。
</p>

<h3>理屈</h3>
<p class="math">
  $ \vec{a} \times \vec{b} = | \vec{a} | | \vec{b} | sin(\theta) $<br>
  $ \vec{a} $ を正規化すると $ |\vec{a}| = 1 $ なので<br>
  $ = 1 |\vec{b}| sin(\theta)$ <br>
  $ = |\vec{b}| sin(\theta)$ <br>
  $ sin(\theta) $ は $ \frac {t} {|\vec{b}|} $ なので<br>
  $ =  |\vec{b}| \frac {t} {|\vec{b}|} $<br>
  $ = t $
</p>

<p class="math">
  $ \vec{a} \times \vec{b} = t $ になりました。
</p>