---
title: 正方形(回転)同士の衝突
---
<div id="graph1"></div>

<h2>解説メモ</h2>

<p>
  回転する正方形同士の衝突は<a href="../point-and-box/">点と矩形(回転あり)の衝突</a>と<a href="../circle-and-circle-pos/">円と円の衝突</a>の組み合わせで判定できます。
</p>

<p>
  まず正方形の中にすっぽりと収まる円があるとして、円同士の衝突判定を行います。
</p>

<p>
  この時点で衝突していれば、まず衝突していると判定できます。
</p>

<p>
  次に、矩形の4つの頂点が、もう一方の矩形の中にあるかどうかを判定します。
</p>

<p>
  あまり効率はよくありませんが、これで回転する正方形同士の衝突が判定できます。
</p>