---
title: 円と円の交点
---
<div id="graph1"></div>

<h2>円と円の交点の求め方</h2>

<h2>交点を持たないとき</h2>

<h3>接触していない場合</h3>

<h3>内包している場合</h3>

<h2>交点が１つの時</h2>

<h3>外接しているケース</h3>

<h3>内接しているケース</h3>

<h2>サンプルコード</h2>