---
title: 直線と直線の衝突点
---
<div id="graph1"></div>

<p>
  この記事では直線と直線の交点の求め方についてまとめています。
</p>


<h2>考え方</h2>

<div id="graph2_1"></div>

<p>
  2つの直線上の任意の点を $A, B$、直線の交点を $P$ とします。
</p>

<div id="graph2_2"></div>

<p>
  それぞれの直線の向きを表すベクトルを $\vec{v_{1}}, \vec{v_{2}} $ 、$A$ から $B$ に向かうベクトルを $\vec{v}$ とします。
</p>

<div id="graph2_3_1"></div>

<p>
  $A$ から $P$ に向かうベクトルを $\vec{v_{1}'}$ とします。
</p>

<div id="graph2_3_2"></div>

<p>
  $B$ から $P$ に向かうベクトルを考えます。
</p>

<p>
  $\vec{v_{2}}$ を何倍かすれば、$P$ の位置にくることになりますが、何倍にすればいいかはまだわからないので、この数値を $t$ としておきます。
</p>

<p>すると $B$ から $P$ に向かうベクトルは $t\vec{v_{2}}$ と書くことができます。</p>

<div id="graph2_4"></div>

<p>
  $\vec{v_{1}'}$ は $\vec{v}$ に $t\vec{v_{2}}$ を足したものと表現できるので
</p>

<p class="math">
  $ \vec{v_{1}'} = \vec{v} + t\vec{v_{2}} $
</p>

<p>
  と書くことができます。
</p>

<div id="graph2_5"></div>
<p>
  $t$ の値が何になるのか、まだわかりませんが $t$ の値が分かってしまえば<br>
  $P$ の 位置は $B$ に $t\vec{v_{2}}$ を足した場所なので
</p>

<p class="math">
  $ P = B + t\vec{v_{2}} $
</p>

<p>となります。</p>

<p>これはなんとかして $t$ の値を求めたいところです。</p>


<p>
  今のままでは、まだ $t$ を導くための情報が足りないのでさらに情報を増やします。
</p>

<div id="graph2_6"></div>
<p>
  $ \vec{v_{1}} $ と $ \vec{v_{1}'} $ は平行の関係にあるので、外積が0になります。
</p>

<p class="math">
  $ \vec{v_{1}} \times \vec{v_{1}'} = 0$
</p>


<p>
  いったん情報をまとめます。
</p>

<p class="math">
  $ \vec{v_{1}'} = \vec{v} + t\vec{v_{2}} $<br>
  $ \vec{v_{1}} \times \vec{v_{1}'} = 0$
</p>

<p>
  下の式に上の式を代入します。
</p>

<p class="math">
  $ \vec{v_{1}} \times (\vec{v} + t\vec{v_{2}}) = 0$
</p>

<p>
  左辺に $t$ があるので、この式を $t$ について解けば、$t$ が求められそうです。
</p>

<h2>計算</h2>

<p class="math">
  $ \vec{v_{1}} \times (\vec{v} + t\vec{v_{2}}) = 0$
</p>

<p>この式を $t$ について解いていきます。</p>

<p class="math">
  $ \vec{v_{1}} \times (\vec{v} + t\vec{v_{2}}) = 0$ <br>
  $ \vec{v_{1}} \times \vec{v} + \vec{v_{1}} \times t\vec{v_{2}} = 0 \ \ \ \ \ \ \ $※１ 外積は展開可能<br>
  $ \vec{v_{1}} \times \vec{v} + t(\vec{v_{1}} \times \vec{v_{2}}) = 0 \ \ \ \ $※２ $t$は外に出せる<br>
  $t(\vec{v_{1}} \times \vec{v_{2}}) = -\vec{v_{1}} \times \vec{v}$<br>
  $t(\vec{v_{1}} \times \vec{v_{2}}) = \vec{v} \times \vec{v_{1}} \ \ \ \ \ \ \ \ \ \ $ ※３ 外積は入れ替えると符号反転<br>
  $t = \frac{ \vec{v} \times \vec{v_{1}} } {\vec{v_{1}} \times \vec{v_{2}}}$<br>
</p>

<p>
  外積の性質を利用しながら式変形をすることで、$t$ はただの外積の割り算になるという事がわかりました。
</p>

<p>
  $t$ の求め方が分かってしまえば、最終的に知りたかった直線の交点 $P$ を求める事ができます。
</p>

<p>
  最終的に $P$ の位置は以下の式になります。
</p>

<div id="graph2_7"></div>

<p class="math">
  $ P = B + t\vec{v_{2}} $ <br>
  $t = \frac{ \vec{v} \times \vec{v_{1}} } {\vec{v_{1}} \times \vec{v_{2}}}$
</p>

<p>
  ただし、直線が平行なとき、$t$ の分母が 0 になってしまうので、平行な場合は $t$ は求まりません。
</p>

<p>
  直線が平行な場合は交点が存在しないので当然と言えば当然と思えますよね。
</p>

<h2>直線の方程式 $ y = ax + b $ を使う方法は？</h2>

<p>
  直線の交点というと、2つの直線を $ y = ax + b $ という式で表して連立方程式にして解くという方法もあります。
</p>

<p>
  しかし、$ y = ax + b $ の式では $x$ 軸に垂直な直線を表せないと思うので、プログラム的にはちょっと都合が悪いです。
</p>

<p>
  もしやるとしたら、まず直線が $x$ 軸に垂直かどうか調べて、垂直の場合とそうでない場合とで処理を分岐するみたいなことをする必要がありそうなので、それであれば外積を使って計算する方がスマートだなと思いました。
</p>

<h2>サンプルコード</h2>

<pre><code>/**
  * 直線と直線の衝突点を取得
  * 直線同士が平行な場合、0 devide が発生するので、事前に判定してから呼び出すこと
  * @param l1 直線１
  * @param l2 直線２
  */
function getCollisionPoint(l1:Line, l2:Line) {

  const v = Vector2.sub(l2.p, l1.p);
  const v1 = l1.v;
  const v2 = l2.v;
 
  const t2 = Vector2.cross(v,v1) / Vector2.cross(v1, v2);
 
  return Vector2.add(l2.p, v2.clone().times(t2));
 }</code></pre>