---
title: 点と直線の衝突
---
<div id="graph1"></div>

<p>
  点と直線の衝突にはベクトルの外積を利用する。
</p>

<div id="graph2"></div>

<p>
  例によって動きを滑らかにするとまるで衝突しない。
  見た目上では当たっているが、コンピュータ的には当たっていないのだ。
</p>

<p>
  コンピューター上で小数の値が完全に一致するというのは無理やりぴったりな値を設定しない限りほぼ無理だろう。
</p>

<h2>点と直線の衝突判定の考え方</h2>

<div id="graph3"></div>


<p>
  <ul>
    <li>直線の向きを表すベクトルを<b style="color:#CA3C6E">$\vec{a}$(ピンク)</b></li>
    <li>直線上の任意の場所から点に向かうベクトルを<b style="color:#EDAD0B">$\vec{b}$(黄色)</b></li>
  </ul>  
  としよう。
</p>

<p>
  上のグラフの<b style="color:#40BFB0">●</b>をドラッグして動かしてみて欲しいのだが、点が直線に近づくほど２つのベクトルが平行になっていくのがわかると思う。
</p>

<p>
  点が直線上にある(つまり当たっている)時は、２つのベクトルが平行になる、という性質を使えば点と直線の衝突は判定できそうだ。
</p>

<h2>2つのベクトルが平行かどうか</h2>

<p>
  端的に言ってしまえば、２つのベクトルの外積が0だったら、その2つのベクトルは平行だ。
</p>

<h3>ベクトルの外積</h3>

<p>
  ベクトルの外積は、２つのベクトルの間の角度を$\theta$として<br>
  $\vec{a}$の長さと、$\vec{b}$の長さと$sin(\theta)$をかけたものが外積だ。
</p>
<p>$\vec{ a } \times \vec{ b } = |\vec{ a }||\vec{ b }|sin(\theta) $ と表す。
</p>

<div id="graph4"></div>


<p>
  ここでミソなのが、２つのベクトルが平行なとき、２つのベクトルの間の角度は0度か180度である。
</p>

<p>
  $sin(0)$と$sin(180)$はどちらも0なので、この時の外積は必ず0になる。(掛け算だから)
</p>

<h3>結論</h3>
<p>
  ２つのベクトルが平行な時は点と直線が当たっている。<br>
  そして、その時の$\vec{a}$と$\vec{b}$の外積は0である。
</p>

<h2>余談：$y=ax+b$の直線の式で判定できるか？</h2>

<div id="graph5"></div>

<p>
  例えば、$y=3x+2$という直線の式があり、点A$(1, 1)$が直線と当たっているかどうか
</p>

<p>
  これは直線の式に点の$x$の値を代入してみて、結果が点の$y$と一致するかどうかを見ればいけそうだ。
</p>

<ol>
  <li>$y=3(1)+2$</li>
  <li>$y=3+2$</li>
  <li>$y=5$</li>
</ol>

<p>
  点の$y$座標は1だが、直線の方程式の結果は5で異なるため点$(1, 1)$は直線$y=3x+2$の上にはないとわかる
</p>

<p>
  この方法は簡単で良さそうだが、$y=ax+b$の式だと垂直な直線が表現できないという問題がある。
  垂直な直線以外であれば、この方法で判定できるが垂直が扱えないというのは残念である。
</p>