---
title: 点と円の衝突
---
<div id="graph1"></div>

<p>このページでは点と円の衝突について解説していきます。</p>

<p>円のあたり判定は、判定も簡単で比較的処理も軽いので最もよく使われる判定方法だと思います。</p>

<h2>考え方</h2>

<div id="graph2"></div>

<p class="math">
  $点A$：円の中心<br>
  $r$：円の半径
</p>

<p>
  <span class="green">●</span>を動かしてみて下さい。
</p>

<p>
  緑の線について、$点P$ が円の外にあるときは 円の半径 $r$ よりも長くなり、円の中にあるときは $r$ よりも短くなる事がわかると思います。
</p>

<p>
  なので、緑の線が円の半径$r$よりも短ければ、点と円は当たっているとなります。
</p>

<p class="math">
  緑の線を $\vec{AP}$ とすると<br>
  $|\vec{AP}| &lt; r$ であれば、点と円が当たっている。
</p>

<h2>$\vec{AP}$ の長さを求める</h2>

<p>
  $\vec{AP}$ は $点P$ の座標から $点A$ の座標を引き算する事で求められます。
</p>

<p class="math">
  $\vec{AP} = P - A$
</p>

<p>そしてベクトルの長さは三平方の定理で求める事ができます。</p>

<p class="math">
  $\vec{AP} = (x, y)$ とすると
  $|\vec{AP}| = \sqrt{x^2 + y^2}$
</p>

<h2>まとめ</h2>

<p>円の半径 $r$ より $\vec{AP}$ の長さが短ければ $点P$ は円に当たっている。</p>

<p class="math">
  $|\vec{AP}| &lt; r$<br>
  $ = \sqrt{x^2 + y^2} &lt; r$　　　：$|\vec{AP}| = \sqrt{x^2 + y^2}$ なので<br>
  $ = x^2 + y^2 < r^2 \ \ \ $　　　：√を外す
</p>

<p>最後に√を外していますが、√を外さなくても計算上は問題ありません。</p>
<p>ただコンピューターで平方根を求める処理は重い処理なので、両辺を二乗してルートを外すことで平方根の計算を無くすという方法がよく使われます。</p>

<h2>サンプルコード</h2>

<pre><code>/**
  * 点と円が当たっているかどうか
  * @param p 点
  * @param circle 円
  */
 function intercect(p:Vector2, circle: Circle)
 {
   // 円の中心から p に向かうベクトルを v とする
   const v = Vector2.sub(p, circle.p);
 
   // v が 円の半径より短ければあたっている。
   // (ベクトルの長さの二乗で判定する事で処理負荷を下げる)
   return (v.sqrMagnitude < circle.r * circle.r);
 }</code></pre>