---
title: 点と半直線の衝突
---
<div id="graph1"></div>

<p>
  点と直線ではベクトルの外積を使って判定したが、点と半直線ではベクトルの<b>内積</b>を使って当たりを判定する。
</p>

<div id="graph2"></div>

<p>
  今回の処理では小数点誤差について、極小の値を切り捨てる対応をしてみた。
</p>
<p>
  結果はご覧の通りで、今回も見た目的には当たっているがコンピューター的に当たっていない。
</p>