---
title: ベクトル方程式と媒介変数
---

<p>
  ベクトル方程式をざっくりと説明すると、ある点をベクトルの足し算や掛け算で表す式になります。
</p>

<p>
  言葉よりも見て触った方がわかるかと思いますので動かせるグラフを用意します。
</p>

<h2>直線のベクトル方程式</h2>

<div id="graph1"></div>

<p>
  $t$ の値を動かして確認してみて欲しいのですが、このグラフの点 $P$ は $t$ の値によって 位置が決まります。
</p>

<p>
  この $P$ を式で表すと以下のようになり、<b>ベクトルの足し算と掛け算</b>で定義されています。
</p>

<p class="math">
  $P = A + t\vec{v}$
</p>

<p>
  この書き方をベクトル方程式というそうで、このベクトル方程式は直線を表す式だそうです。
</p>

<p>
  また、$t$ を決める事で $xy$ が決まる この $t$ の事を <b>媒介変数</b>と呼ぶそうです。
</p>

<p>
  直線の方程式は $y = ax + b$ と習った記憶がある方のほうが多い気がしますが、ベクトルの世界だとこの<b>ベクトル方程式</b>を使って表す事が多々あるので慣れていきましょう。
</p>