---
title: ベクトルの内積の特性
---
<p>
  ここにはベクトルの内積を使うとどんなことができるか、内積がどんな特性を持っているのかなどをまとめてみます。
</p>

<p class="math">
  内積の計算式<br>
  $\vec{a} \cdot \vec{b} = |\vec{a}| |\vec{b}| cos(\theta)$
</p>

<h2>ベクトルの前後関係がわかる</h2>
<div id="graph1"></div>
<p>
  内積の結果がプラスかマイナスかを見ることで、2つのベクトルの位置関係を調べることができます。
</p>
<p>
  上のグラフでxとyをいじって$\vec{b}$を動かしてみて下さい。$\vec{b}$が青い領域にあるときは内積がプラス、赤い領域にあるときはマイナスになる事がわかると思います。
</p>

<p class="math">
  $\vec{a} \cdot \vec{b} &gt; 0$ の場合 $\vec{b}$ は $\vec{a}$ の向いてる方にある。<br>
  $\vec{a} \cdot \vec{b} &lt; 0$ の場合 $\vec{b}$ は $\vec{a}$ と逆向きの方にある。
</p>

<h3>理屈</h3>

<p class="math">内積の計算式は $|\vec{a}| |\vec{b}| cos(\theta)$ です。<br></p>

<p>
  この計算の答えがプラスになるかマイナスになるかは$cos(\theta)$次第になります。
</p>

<div id="graph_cos"></div>

<p>
  $cos(\theta)$は0度から90度までと270度から360度の間の時はプラスの値になり、逆に90度～270度の間はマイナスです。
</p>

<p>
  つまり、2つのベクトルの間の角度$\theta$が0～90度、270～360度の間にある時<br>$cos(\theta)$の値はプラスになるので、内積はプラスになります。
</p>

<p>反対に、ベクトルの間の角度が90～270度の間の時<br>$ cos(\theta) $ はマイナスになるので、内積の結果もマイナスになります。</p>


<h2>ベクトルが垂直かどうかわかる</h2>

<p class="math">
  $\vec{a} \cdot \vec{b} = 0$ の時、２つのベクトルは垂直です。
</p>

<p>
  ２つのベクトルが垂直ということは、２つのベクトルの間の角度が90度か270度ということです。
</p>

<p>
  $cos(90)$も$cos(270)$も0なので、2つのベクトルが垂直の関係にあるとき、内積は必ず0になるという理屈です。
</p>

<h2>ベクトルが平行な時の内積</h2>
<div id="graph2"></div>
<p class="math">
  $ \vec{a} $ と $ \vec{b} $ が同じ向きで平行になっている時<br>
  $ \vec{a} \cdot \vec{b} = |\vec{a}| |\vec{b}|$ が成り立ちます。
</p>

<div id="graph3"></div>
<p class="math">
  $ \vec{a} $ と $ \vec{b} $ が逆向きで平行になっている時<br>
  $ \vec{a} \cdot \vec{b} = - |\vec{a}| |\vec{b}|$ が成り立ちます。
</p>


<h3>理屈</h3>

<p>
  ベクトルが同じ向きで平行になっている場合、2つのベクトルの間の角度は0度です。
</p>

<p class="math">
  $cos(0)$ は 1 になるため<br>
  $ \vec{a} \cdot \vec{b} = |\vec{a}| |\vec{b}| cos(0) = |\vec{a}| |\vec{b}| 1 =  |\vec{a}| |\vec{b}| $
</p>

<p>
  ベクトルが逆向きで平行になっている場合、2つのベクトルの間の角度は180度です。
</p>

<p class="math">
  $cos(180)$ は -1 になるため<br>
  $ \vec{a} \cdot \vec{b} = |\vec{a}| |\vec{b}| cos(180) = |\vec{a}| |\vec{b}| -1 =  -|\vec{a}| |\vec{b}| $
</p>

<h2>ベクトルを正規化して内積をとると</h2>

<div id="graph4"></div>

<p>
  $ \vec{a} $ を正規化した状態で内積を計算すると、グラフ上の青い線の長さ($t$) を求める事ができます。
</p>

<p>
  青い線の長さは $\vec{b}$ を $\vec{a}$ の軸にまっすぐに落とした位置にきており、$\vec{a}$ を軸としてみた時の $\vec{b}$ の$x$成分になります。
</p>

<p>
  また、$t$ は ${\vec{a}} $ の方向の場合はプラスになり、逆方向の場合はマイナスの値になります。
</p>

<h3>理屈</h3>
<p class="math">
  $ \vec{a} \cdot \vec{b} = | \vec{a} | | \vec{b} | cos(\theta) $<br>
  $ \vec{a} $ を正規化すると $ |\vec{a}| = 1 $ なので<br>
  $ = 1 |\vec{b}| cos(\theta)$ <br>
  $ = |\vec{b}| cos(\theta)$ <br>
  $ cos(\theta) $ は $ \frac {t} {|\vec{b}|} $ なので<br>
  $ =  |\vec{b}| \frac {t} {|\vec{b}|} $<br>
  $ = t $
</p>

<p class="math">
  $ \vec{a} \cdot \vec{b} = t $ になりました。
</p>