---
title: 直線と楕円の衝突
---
<div id="graph1"></div>

<h2>まえがき</h2>

<p>
  直線と楕円の衝突判定は<a href="../point-and-ellipse/">点と楕円の衝突</a>の応用で実装してみました。
</p>

<p>
  基本的な考え方は<a href="../point-and-ellipse/">点と楕円の衝突</a>の内容が重要になりますので、まずは<a href="../point-and-ellipse/">点と楕円の衝突</a>をご覧ください。
</p>


<h2>解説めも</h2>
<p>
  楕円のままだと判定が出来ないので楕円を正円に戻す事を考えます。
</p>

<p>
  楕円を原点に移動し、回転を戻し、$y$ 半径を $x$ 半径に合わせるように伸縮します。
</p>

<p>
  この楕円を正円に戻す変換を、直線に対しても行います。
</p>

<p>
  直線は、直線を通る2点がわかれば直線を定義できるので、まず直線を通る2点を適当に決めます。
</p>

<p>
  この2点に対して、楕円を正円に戻すのと同じ変換をかけます。
</p>

<p>
  移動した2点から新たな直線を定義し、正円に戻した楕円(つまりただの円)との衝突判定をします。
</p>

<p>
  最終的に、直線と円の衝突判定になります。
</p>

<p>
  直線と円の衝突判定については<a href="../line-and-circle-pos/">直線と円の衝突</a>をご覧ください。
</p>

