---
title: 点と直線の衝突
---
<div id="graph1"></div>

<p>
  点と直線の衝突判定は<a href="../../vector2/cross/">ベクトルの外積</a>を使って判定します。
</p>

<div id="graph2"></div>

<p>
  しかし動きを滑らかにするとまるで衝突しません。
  これは<a href="../point-and-point/">点と点の衝突</a>でも解説したように、座標が小数点以下含めて完全一致することは極めて稀であるためです。
</p>

<h2>点と直線の衝突判定の考え方</h2>

<div id="graph3"></div>


<p>
  <ul>
    <li>直線の向きを表すベクトルを<b style="color:#CA3C6E">$\vec{a}$(ピンク)</b></li>
    <li>直線上の任意の場所から点に向かうベクトルを<b style="color:#EDAD0B">$\vec{b}$(黄色)</b></li>
  </ul>  
  とします。
</p>

<p>
  上のグラフの<b style="color:#40BFB0">●</b>をドラッグして動かしてみて欲しいのですが、点が直線に近づくほど２つのベクトルが平行になっていくのがわかると思います。
</p>

<p>
  点が直線上にある(つまり当たっている)時は、２つのベクトルが平行になる、という性質を使えば点と直線の衝突は判定できそうです。
</p>

<h2>2つのベクトルが平行かどうか</h2>

<p>
  端的に言ってしまえば、２つのベクトルの外積が0だったら、その2つのベクトルは平行になります。
</p>

<h3>なんで外積が0だと平行？</h3>

<p>
  ベクトルの外積うんぬんについては<a href="../../vector2/cross/">ベクトルの外積</a>を見てもらうとして、
  外積の計算方法は以下のようになっています。
</p>
<p class="math">
  $\vec{ a } \times \vec{ b } = |\vec{ a }||\vec{ b }|sin(\theta) $ 
</p>

<div id="graph4"></div>

<p>
  外積の計算式を見ると、最後に$\sin(\theta)$をかけています。
</p>

<p>
  こいつがミソでして、２つのベクトルが平行なとき、２つのベクトルの間の角度は<b>0度か180度</b>になり、そして<b>$sin(0°)$と$sin(180°)$はどちらも0</b>なのです。
</p>

<p>
  0をかけたらどんな値だって0になるので、この時の外積は常に0になります。
</p>

<h3>結論</h3>
<ol>
  <li>ベクトルの外積が0ということは</li>
  <li>ベクトルが平行になっているということ</li>
  <li>ベクトルが平行になるというのは、点が直線の上にあるという事である。</li>
  <li>よって、ベクトルの外積が0の時、点と直線は衝突している。</li>
</ol>

<h2>サンプルコード</h2>
<pre><code>/**
* 点と直線の衝突判定
* @param p 点
* @param line 直線
*/
function intercect(p:Vector2, line:Line)
{
  // 直線の方向を表すベクトルをaとする
  const a = line.v;

  // 直線上の1点からpに向かうベクトルをbとする(ベクトルの引き算で算出)
  const b = Vector2.sub(p, line.p);

  // aとbの外積を取る
  const cross = Vector2.cross(a, b);

  // 外積が0だったら当たっている
  return (cross === 0);
}</code></pre>

<p>
  外積が0と完全一致することは小数点誤差などもありほぼ起こりえない問題はありますが、外積の値が-0.01 ～ 0.01だったらのように判定に少し遊びを持たせると当たりやすくなります。
</p>

<h2>余談：$y=ax+b$の直線の式で判定できるか？</h2>

<div id="graph5"></div>

<p>
  例えば、$y=3x+2$という直線の式があり、点A$(1, 1)$が直線と当たっているかどうか
</p>

<p>
  これは直線の式に点の$x$の値を代入してみて、結果が点の$y$と一致するかどうかを見ればいけそうです。
</p>

<ol>
  <li>$y=3(1)+2$</li>
  <li>$y=3+2$</li>
  <li>$y=5$</li>
</ol>

<p>
  点の$y$座標は1だが、直線の方程式の結果は5で異なるため点$(1, 1)$は直線$y=3x+2$の上にはないとわかります。
</p>

<p>
  この方法は簡単で良さそうですが、$y=ax+b$の式だと垂直な直線が表現できないという問題があります。
  垂直な直線以外であれば、この方法で判定できるが垂直が扱えないというのは残念なことです。
</p>