---
title: 点と線分の衝突
---
<div id="graph1"></div>

<p>
  点と線分の当たり判定は、点と半直線と似ていてベクトルの<b>内積</b>を使って当たりを判定する。
</p>
<p>
  ただ、線分には長さがあるので内積だけでは判定できず、もうひと手間必要になる。
</p>

<div id="graph2"></div>

<p>
  相変わらずだが、点と線というボリュームを持たない形状はほとんど当たることが無い。
</p>