---
title: 円と円の衝突
---
<div id="graph1"></div>

<p>
  ここでは円と円の衝突判定についてまとめていきます。
</p>
<p>
  円と円の衝突判定は簡単で、かつ処理も軽く、衝突判定の中では最もよく使われる１番人気の衝突判定だと思います。
</p>

<h2>考え方</h2>

<div id="graph2_1_1"></div>
<p>２つの円があります。</p>

<div id="graph2_1_2"></div>
<p>円の中心をそれぞれ$C_{1}, C_{2}$、とします。</p>

<div id="graph2_1_3"></div>
<p>円の半径をそれぞれ$r_{1}, r_{2}$、とします。</p>

<div id="graph2_1_4"></div>
<p>
  円が衝突しているかどうかは $C_{1}$ から $C_{2}$ までの距離と２つの円の半径の和をを比較します。
</p>

<div id="graph2_1_5"></div>
<p>
  比較した結果、$C_{1}$ から $C_{2}$ までの距離が２つの円の半径の和より小さくなっていれば、円と円は衝突しています。
</p>

<h2>計算方法</h2>

<div id="graph2_2_1"></div>
<p>
  円の中心をそれぞれ$C_{1}, C_{2}$、円の半径をそれぞれ$r_{1}, r_{2}$とします。
</p>

<div id="graph2_2_2"></div>
<p>
  ２つの円の中心の距離を求めたいので、$C_{1}$ から $C_{2}$に向かうベクトル、$\vec{C_{1}C_{2}}$を求めます。
</p>

<p>
  $\vec{C_{1}C_{2}}$ は $C_{2}$ の座標から $C_{1}$ の座標を引き算することで求まります。
</p>

<p class="math">
  $\vec{C_{1}C_{2}} = C_{2} - C_{1}$
</p>

<p>
  あとは2つの円の半径の和と $\vec{C_{1}C_{2}}$ の長さを比較するだけとなります。
</p>

<p class="math">
  $|\vec{C_{1}C_{2}}| &lt; r_{1} + r_{2} $ であれば、２つの円は衝突している。
</p>

<h2>処理負荷対策</h2>

<p>
  プログラムで円と円の衝突を判定する場合は、ちょっとした工夫をすることで処理負荷を下げる事ができます。
</p>

<p>
  $\vec{C_{1}C_{2}}$ の成分を $(x, y)$ とすると、$|\vec{C_{1}C_{2}}|$ の長さは<a href="../../theorem/pythagorean/">三平方の定理</a>より
</p>

<p class="math">
  $|\vec{C_{1}C_{2}}| = \sqrt{x^2 + y^2}$ となります。
</p>

<p>
  2つの円の半径の和との比較は以下のように表せます。
</p>

<p class="math">
  $|\vec{C_{1}C_{2}}| &lt; r_{1} + r_{2}$<br>
  $\sqrt{x^2 + y^2} &lt; r_{1} + r_{2}$<br>
  $x^2 + y^2 &lt; (r_{1} + r_{2})^2$<br>

</p>

<p>
  プログラムで平方根の計算は重いので、上記のように2つの円の半径の和を二乗したものと判定することで平方根の計算をしないですみます。
</p>

<h2>サンプルコード</h2>

<pre><code>/**
 * 円と円が当たっているかどうか
 * @param circle1 円１
 * @param circle2 円２
 */
function isHit(circle1:Circle, circle2:Circle) 
{
  // 円１から円２の中心に向かうベクトルを v とする
  const v = Vector2.sub(circle2.p, circle1.p);
 
  // v の長さが ２つの円の半径の和より小さければ当たっている
  // (処理負荷対策で平方根を使わないようにしている)
  return (v.sqrMagnitude < (circle1.r + circle2.r)**2);
}</code></pre>