---
title: 直線と直線の最短距離 本気②
---
<p>
  <a href="../line-and-line-dist1/">直線と直線の最短距離 本気①</a>の続編記事となります。
</p>

<p>
  タイトルは直線と直線の最短距離となっていますが、この記事で扱うのは $t_{1}, t_{2}$ の求め方になります。
</p>

<h2>定義</h2>
<div id="graph1_1"></div>

<p>
  直線 $L1, L2$ があり、直線上の1点をそれぞれ $P_{1}, P_{2}$、直線の方向を表すベクトルをそれぞれ $\vec{v_{1}}, \vec{v_{2}}$ とします。
</p>

<p>
  また2つの直線の最短距離を結ぶ線について、$L1$ 上の点を$Q_{1}$、$L2$ 上の点を $Q_{2}$ とします。<br>
  (2次元だと奥行きがないため $Q_{1}, Q_{2}$ は同じ座標になりますが便宜上分けて書きます。)
</p>

<p>
  $\vec{v_{1}}$ をどれだけ伸ばせば $Q_{1}$ に届くかの値を $t_{1}$ とします。
</p>

<p>
  $\vec{v_{2}}$ をどれだけ伸ばせば $Q_{2}$ に届くかの値を $t_{2}$ とします。
</p>


<h2>$t_{1}$ と $t_{2}$ は以下の式で求まる</h2>

<p class="math">
  $D_{11} = \vec{v_{1}} \cdot \vec{v_{1}}$、
  $D_{22} = \vec{v_{2}} \cdot \vec{v_{2}}$、
  $D_{12} = \vec{v_{1}} \cdot \vec{v_{2}}$ とすると<br><br>  
  $
    t_{1}
   = 
   \frac
    {{D_{12}} \vec{v_{2}} \cdot(P_{1} - P_{2}) - D_{22} \vec{v_{1}} \cdot (P_{1} - P_{2}) }
    {D_{11} D_{22} - D_{12} D_{12}}
  $<br>

  $Q_{1} = P_{1} + t_{1}\vec{v_{1}}$<br>

  $
    t_{2} = \frac{\vec{v_{2}} \cdot (Q_{1} - P_{2})}{D_{22}}
  $<br>
  $Q_{2} = P_{2} + t_{2}\vec{v_{2}}$
</p>


<h2>なぜ、この式で $t_{1}, t_{2}$ が求まるのか</h2>

<p>
  点 $Q_{1}, Q_{2}$ を式で表すと以下のようになります。
</p>

<p class="math">
  $Q_{1} = P_{1} + t_{1}\vec{v_{1}}$<br>
  $Q_{2} = P_{2} + t_{2}\vec{v_{2}}$<br>
</p>

<div id="graph1_2"></div>

<h3>$t_{2}$ から求めていきます</h3>

<p>
  $t_{2}$ は <a href="../point-and-line-dist/">点と直線の最短距離</a>で解説した計算方法によって $Q_{1}$ と直線 $L2$ の最短距離を求める過程より以下の式で求まります。
</p>

<p class="math">
  $
    t_{2} = \frac{\vec{v_{2}} \cdot (Q_{1} - P_{2})}{\vec{v_{2}} \cdot \vec{v_{2}}}
    = \frac{\vec{v_{2}} \cdot (P_{1} + t_{1}\vec{v_{1}} - P_{2})}{\vec{v_{2}} \cdot \vec{v_{2}}}
    = \frac{\vec{v_{2}} \cdot (P_{1} - P_{2} + t_{1}\vec{v_{1}})}{\vec{v_{2}} \cdot \vec{v_{2}}}
  $
</p>

<h3>$t_{1}$ を求める</h3>

<p>$t_{1}$ がわからないと $t_{2}$ が求められないので、次に $t_{1}$ を求めていきます。</p>

<p>
  2直線の最短距離を結ぶ線分 $\vec{Q_{2}Q_{1}}$ は 直線 $L1$ とも垂直じゃないといけません。
</p>
<p>
  ここから $L1$ の方向を表すベクトル $\vec{v_{1}}$ と $\vec{Q_{2}Q_{1}}$ 内積の結果は0 になることを利用します。(垂直なベクトル同士の内積は0)
</p>

<p>その式を計算していきます。</p>

<p class="math">
  $\vec{v_{1}} \cdot \vec{Q_{2}Q_{1}} = 0$<br>
  $\vec{v_{1}} \cdot (Q_{1} - Q_{2}) = 0$<br>
  $\vec{v_{1}} \cdot (P_{1} + t_{1}\vec{v_{1}} - (P_{2} + t_{2}\vec{v_{2}})) = 0$<br>
  $\vec{v_{1}} \cdot (P_{1} + t_{1}\vec{v_{1}} - P_{2} - t_{2}\vec{v_{2}}) = 0$
</p>

<p>
  内積の分配法則、定数倍の法則に従って、さらに式を展開します。
</p>

<p class="math">
  $\vec{v_{1}} \cdot (P_{1} + t_{1}\vec{v_{1}} - P_{2} - t_{2}\vec{v_{2}}) = 0$<br>
  $\vec{v_{1}} \cdot (P_{1} - P_{2} + t_{1}\vec{v_{1}} - t_{2}\vec{v_{2}}) = 0$<br>
  $\vec{v_{1}} \cdot (P_{1} - P_{2}) + \vec{v_{1}} \cdot t_{1}\vec{v_{1}} - \vec{v_{1}} \cdot t_{2}\vec{v_{2}} = 0$<br>
  $\vec{v_{1}} \cdot (P_{1} - P_{2}) + t_{1}(\vec{v_{1}} \cdot \vec{v_{1}}) - t_{2}(\vec{v_{1}} \cdot \vec{v_{2}}) = 0$<br>
</p>

<p>ここで予め求めておいた $t_{2}$ を上の式に代入します。</p>

<p class="math">
  $
    \vec{v_{1}} \cdot (P_{1} - P_{2}) 
    + t_{1}(\vec{v_{1}} \cdot \vec{v_{1}}) 
    - \frac{\vec{v_{2}} \cdot (P_{1} - P_{2} + t_{1}\vec{v_{1}})}{\vec{v_{2}} \cdot \vec{v_{2}}}(\vec{v_{1}} \cdot \vec{v_{2}}) = 0$<br>
</p>

<p>式が長くなってきたので一部の値を別の文字に置き換えたいと思います。</p>

<p class="math">
  $D_{11} = \vec{v_{1}} \cdot \vec{v_{1}}$<br>
  $D_{22} = \vec{v_{2}} \cdot \vec{v_{2}}$<br>
  $D_{12} = \vec{v_{1}} \cdot \vec{v_{2}}$<br>
</p>

<p>上記の式に沿って書き直すと</p>

<p class="math">
  $
    \vec{v_{1}} \cdot (P_{1} - P_{2}) 
    + t_{1}D_{11}
    - \frac{\vec{v_{2}} \cdot (P_{1} - P_{2} + t_{1}\vec{v_{1}})}{D_{22}}(D_{12}) = 0$<br>
</p>

<p>まだ長いですが頑張って計算を続けていきます</p>

<p class="math">
  $
    \vec{v_{1}} \cdot (P_{1} - P_{2}) 
    + t_{1}D_{11}
    - \frac{\vec{v_{2}} \cdot (P_{1} - P_{2} + t_{1}\vec{v_{1}})}{D_{22}}(D_{12}) = 0
  $<br>

  $
  \vec{v_{1}} \cdot (P_{1} - P_{2}) 
  + t_{1}D_{11}
  - \frac{\vec{v_{2}} \cdot (t_{1}\vec{v_{1}} + P_{1} - P_{2})}{D_{22}}(D_{12}) = 0
  $<br>

  $
  \vec{v_{1}} \cdot (P_{1} - P_{2}) 
  + t_{1}D_{11}
  - \frac{\vec{v_{2}} \cdot (t_{1}\vec{v_{1}}) + \vec{v_{2}} \cdot(P_{1} - P_{2})}{D_{22}}(D_{12}) = 0
  $<br>

  $
  \vec{v_{1}} \cdot (P_{1} - P_{2}) 
  + t_{1}D_{11}
  - \frac{t_{1}(\vec{v_{2}} \cdot \vec{v_{1}}) + \vec{v_{2}} \cdot(P_{1} - P_{2})}{D_{22}}(D_{12}) = 0
  $<br>  

  $
  \vec{v_{1}} \cdot (P_{1} - P_{2}) 
  + t_{1}D_{11}
  - \frac{t_{1}(\vec{v_{1}} \cdot \vec{v_{2}}) + \vec{v_{2}} \cdot(P_{1} - P_{2})}{D_{22}}(D_{12}) = 0
  $<br>

  $
  \vec{v_{1}} \cdot (P_{1} - P_{2}) 
  + t_{1}D_{11}
  - \{ 
      \frac
      {t_{1}(\vec{v_{1}} \cdot \vec{v_{2}})}
      {D_{22}}
      +
      \frac
      {\vec{v_{2}} \cdot(P_{1} - P_{2})}
      {D_{22}}      
    \}
  (D_{12}) = 0
  $<br>

  $
  \vec{v_{1}} \cdot (P_{1} - P_{2}) 
  + t_{1}D_{11}
  - \{ 
      \frac
      {t_{1}(\vec{v_{1}} \cdot \vec{v_{2}})}
      {D_{22}}(D_{12})
      +
      \frac
      {\vec{v_{2}} \cdot(P_{1} - P_{2})}
      {D_{22}}(D_{12}) 
    \}
   = 0
  $<br>


  $
  \vec{v_{1}} \cdot (P_{1} - P_{2}) 
  + t_{1}D_{11}
  - 
      \frac
      {t_{1}(\vec{v_{1}} \cdot \vec{v_{2}})}
      {D_{22}}(D_{12})
      -
      \frac
      {\vec{v_{2}} \cdot(P_{1} - P_{2})}
      {D_{22}}(D_{12}) 
   = 0
  $<br>  

  $
  \vec{v_{1}} \cdot (P_{1} - P_{2}) 
  + 
    t_{1}(
      D_{11}
  - 
      \frac
      {\vec{v_{1}} \cdot \vec{v_{2}}}
      {D_{22}}(D_{12})
    )
      -
      \frac
      {\vec{v_{2}} \cdot(P_{1} - P_{2})}
      {D_{22}}(D_{12}) 
   = 0
  $<br>

  $
  \vec{v_{1}} \cdot (P_{1} - P_{2}) 
  + 
    t_{1}(
      D_{11}
  - 
      \frac
      {D_{12}}
      {D_{22}}(D_{12})
    )
      -
      \frac
      {\vec{v_{2}} \cdot(P_{1} - P_{2})}
      {D_{22}}(D_{12}) 
   = 0
  $<br>

  $
  \vec{v_{1}} \cdot (P_{1} - P_{2}) 
  + 
    t_{1}(
      D_{11}
  - 
      \frac
      {D_{12}}
      {D_{22}}(D_{12})
    )
      -
      \frac
      {D_{12}}
      {D_{22}}(\vec{v_{2}} \cdot(P_{1} - P_{2})) 
   = 0
  $<br>  
</p>

<p>かなり長いですがまだ続きます、今度は $t_{1}$ について解いていきます。</p>

<p class="math">
  $
  \vec{v_{1}} \cdot (P_{1} - P_{2}) 
  + 
    t_{1}(
      D_{11}
  - 
      \frac
      {D_{12}}
      {D_{22}}(D_{12})
    )
      -
      \frac
      {D_{12}}
      {D_{22}}(\vec{v_{2}} \cdot(P_{1} - P_{2})) 
   = 0
  $<br>
  $
    t_{1}(
      D_{11}
  - 
      \frac
      {D_{12}}
      {D_{22}}(D_{12})
    )
   = 
    \frac
        {D_{12}}
        {D_{22}}(\vec{v_{2}} \cdot(P_{1} - P_{2})) 
    -   \vec{v_{1}} \cdot (P_{1} - P_{2})
  $<br>

  $
    t_{1}(
      D_{11} D_{22}
  - 
      D_{12} D_{12}
    )
   = 
   {D_{12}} \vec{v_{2}} \cdot(P_{1} - P_{2})
    - D_{22} \vec{v_{1}} \cdot (P_{1} - P_{2}) 
  $<br>

  $
    t_{1}
   = 
   \frac
    {{D_{12}} \vec{v_{2}} \cdot(P_{1} - P_{2}) - D_{22} \vec{v_{1}} \cdot (P_{1} - P_{2}) }
    {D_{11} D_{22} - D_{12} D_{12}}
  $
</p>

<p>
  ようやく $t1$ が求まりました、$t_{2}$ も $t1$ がわかったので求まります。
</p>

<p>
  最終的な式をまとめておきます。
</p>

<p class="math">
  $D_{11} = \vec{v_{1}} \cdot \vec{v_{1}}$、
  $D_{22} = \vec{v_{2}} \cdot \vec{v_{2}}$、
  $D_{12} = \vec{v_{1}} \cdot \vec{v_{2}}$ とすると<br><br>  
  $
    t_{1}
   = 
   \frac
    {{D_{12}} \vec{v_{2}} \cdot(P_{1} - P_{2}) - D_{22} \vec{v_{1}} \cdot (P_{1} - P_{2}) }
    {D_{11} D_{22} - D_{12} D_{12}}
  $<br>

  $Q_{1} = P_{1} + t_{1}\vec{v_{1}}$<br>

  $
    t_{2} = \frac{\vec{v_{2}} \cdot (Q_{1} - P_{2})}{D_{22}}
  $<br>
  $Q_{2} = P_{2} + t_{2}\vec{v_{2}}$
</p>

<p>
  ほとんどおまけ程度の話ですが、2直線の最短距離を結ぶ線分の始点と終点である $Q_{1}, Q_{2}$ が求まったので、直線と直線の最短距離も求まりますね。
</p>

<p class="math">
  2直線の最短距離 = $|\vec{Q_{1}Q_{2}}|$ (2次元の場合は基本0)
</p>