---
title: 衝突判定をしよう
---

<p>
  どうも無職です、ゲームの中の世界では日々、モノとモノがぶつかってるかどうかの判定が盛んにおこなわれています。
</p>

<p>
  世の中はもっぱら3Dゲームが盛んですが、そんななかで無職は2Dの衝突判定についてお勉強をしています。
</p>

<p>
  この記事には、無職が衝突判定の勉強する中で、まずこれは抑えておくべき基本だなと思ったことを中心にまとめています。
</p>

<h2>基本１ ベクトル</h2>

<p>
  衝突判定ではとにかくベクトルを駆使するのでベクトルの基本的な知識(足したり、引いたり、伸ばしたり)は必要不可欠です。
</p>

<p>
  衝突判定するならまずベクトルの基本を抑えましょう。
</p>

<h2>基本２ ベクトルの長さを求める</h2>

<p>
  衝突判定ではベクトルの長さを求める事があります。ベクトルの長さは<a href="../../theorem/pythagorean/">三平方の定理</a>を使って簡単に求める事ができます。
</p>

<p>
  ベクトルの長さと聞こえたら、あぁ<a href="../../theorem/pythagorean/">三平方の定理</a>ですぐ求められるねぇと思えるといいと思います。
</p>

<h2>基本３ 点と点の間のベクトルを求める</h2>

<p>
  衝突判定をしていると $点A$ と $点B$ があったとき、$A$ から$B$に向かうベクトルが欲しいという衝動にかられることが度々起こります。
</p>

<p>
  2点間の間のベクトルを求めるには、ベクトルを引き算するだけで求められます。
</p>

<p>
  それだけなのですが、ベクトルの引き算で2点間のベクトルが出てくるという事を知らないと、なんで引き算してるのぉぉぉ？という場面が大量にでてきます。
</p>

<p>
  ベクトルの引き算を見かけたら、あぁ、2点間のベクトルを求めてるんだなと思えるようになってください。
</p>

<h2>基本４ ベクトルの正規化</h2>

<p>
  <a href="../../vector2/normalize/">ベクトルの正規化</a>(ベクトルの長さを1にする)もなかなかの頻度で登場します。
</p>

<p>
  ベクトルの長さを1にしておけば、そのベクトルを2倍すれば向きはそのままに2倍のベクトルが、3を掛ければ3倍のベクトルがと、向きを変えずに好きな長さのベクトルを作れます。
</p>

<p>
  長さを1にしておけば好きな長さのベクトルを作れるというあたりが素敵で、そういう用途で良く使います。(他の用途もあります)
</p>

<h2>基本５ ベクトルの内積と外積</h2>

<p>
  衝突判定ではありとあらゆるところでベクトルの内積と外積がでてきます。
</p>

<p>
  ほとんど内積と外積しか使ってないのでは？と思うくらいにでてきます。
</p>

<p>
  なので、衝突判定をするうえで、「内積と外積がわからない」＝「全てがわかりません」と言っても差し支えないほどです。
</p>

<p>
  いきなり全ては理解できずとも、計算方法や特性については以下の記事を読んで、予め雰囲気をつかんでおくと良いと思います。
</p>

<ul>
  <li><a href="../../vector2/dot/">ベクトルの内積</a></li>
  <li><a href="../../vector2/dot2/">ベクトルの内積の特性</a></li>
  <li><a href="../../vector2/cross/">ベクトルの外積</a></li>
  <li><a href="../../vector2/cross2/">ベクトルの外積の特性</a></li>  
</ul>

<h2>基本６ 図形の定義</h2>

<p>
  例えば直線と直線の交点を求めたいとなった時、数学のお勉強では 直線は $y=ax+b$ という式で表され、連立方程式を解けば... というような事を習ったかもしれません。
</p>

<p>
  しかし衝突判定においては、こういった $y=ax+b$ のような方程式を使うことはあまりなく、基本はベクトルを駆使して求めていきます。
</p>

<p>
  衝突判定で直線や円といった形をどう扱うのかについては<a href="../primitive/">衝突判定の図形定義</a>にまとめていますので、必要に応じて確認してみて下さい。
</p>