---
title: 直線と半直線の衝突
---
<div id="graph1"></div>

<p>
  ここでは直線と半直線の衝突についてまとめます。
</p>

<p>
  直線と半直線の衝突は<a href="../line-and-line-pos/">直線と直線の衝突点</a>を調べる方法と同じ計算をしますのでまずそちらの記事を理解している前提で記載していきます。
</p>

<p>
  また、今回の直線と半直線の判定について、互いに平行だった時は当たってないという扱いにしています。
</p>

<p>
  平行なときでも、重なってたら当たっている事にしたいという場合は<a href="../line-and-line/">直線と直線の衝突</a>にて、直線が重なっている場合の判定を記載しているのでそちらの記事を参照下さい。(直線と半直線でも判定方法は同じなので)
</p>

<h2>考え方</h2>

<p>
  直線と直線の場合は、2つの直線が平行でなければ必ず重なるので当たっていると判定できました。
</p>
<p>
  しかし、直線と半直線の場合、半直線は一方が端となって切れている線なので、平行じゃないからといって当たっているとは限りません。
</p>

<div id="graph2"></div>

<p>これは平行じゃないけど当たっていないですよね。</p>

<p>
  では直線と半直線の衝突について考えていきます。
</p>

<div id="graph3_1"></div>

<p>
  ひとまず、半直線の方向ベクトルを $\vec{v_{2}}$ 、交点を $P$ とします。
</p>
<p>
  ここで、$\vec{v_{2}}$ をどれだけ伸ばせば $P$ に届くかという事を考えます。
</p>

<p>
  このどれだけ伸ばせばという値を $t$ として、 $t$ 倍した $\vec{v_{2}}$ を $t\vec{v_{2}}$ と書いておきます。
</p>

<div id="graph3_2"></div>

<p>
  そうすると、直線と半直線が重なっている場合、$t$ は必ずプラスの値にならないといけません。(マイナスの値だと $t\vec{v_{2}}$ が $P$ に届くことはないため)
</p>

<p>
  半直線が逆を向いていたときのケースも見てみます。
</p>

<div id="graph3_3"></div>

<p>
  この場合、$t$ はマイナスの値になるはずです。($\vec{v_{2}}$ を伸ばして直線にあてるにはマイナスをかけるしかないため)
</p>

<p>
  というわけで、直線と半直線の衝突判定では、まず $t$ を求めて、$t$ がプラスかマイナスかで衝突判定を行います。
</p>

<p>そしてこの $t$ をどうやって求めるかは<a href="../line-and-line-pos/">直線と直線の衝突点</a>に記載していますので詳しくはそちらの記事を参照ください。</p>

<p>
  こちらには概要だけ記載しておきます。
</p>

<div id="graph3_4"></div>

<p>
  直線上の任意の点を $A$、半直線の始点を $B$、交点を$P$、$A$ から $B$ に向かうベクトルを $\vec{v}$、直線の方向ベクトルを $\vec{v_{1}}$、半直線の方向ベクトルを $\vec{v_{2}}$ とします。
</p>

<p>
  この時、$t$ は以下の計算で求められます。
</p>

<p class="math">
  $t = \frac{ \vec{v} \times \vec{v_{1}} } { \vec{v_{1}} \times \vec{v_{2}} } $
</p>

<p>また、直線と半直線の交点 $P$ は $B$ に $t \vec{v_{2}}$ を足した場所になるので</p>

<p class="math">
  $P = B + t\vec{v_{2}}$
</p>

<p>となります。</p>

<h2>サンプルコード</h2>

<pre><code>/**
 * 直線と半直線の衝突
 * @param line 直線
 * @param ray 半直線
 */
function intercect(line:Line, ray:Ray) 
{
  // 衝突判定の結果オブジェクト
  const result = {
    hit: false,
    pos: Vector2.zero,
  }
 
  // 直線の向きをv1、半直線の向きをv2として取得
  const v1 = line.v;
  const v2 = ray.v;
 
  // 直線と半直線の外積が0なら平行なので、当たってない判定とする
  const cross = Vector2.cross(v1, v2);
  if (Math.abs(cross) < Define.EPSILON) return result;
 
  // v2をどれだけ伸ばしたら 直線上の点になるかの値を t として tを求める
  const v = Vector2.sub(ray.p, line.p);
  const t = Vector2.cross(v, v1) / cross;
 
  // t が マイナスだったら当たっていない
  if (t < 0) return result;
 
  // t がプラスなら当たっているので
  result.hit = true;
 
  // 衝突点は 半直線の始点に t*v2 を足した場所
  result.pos = Vector2.add(ray.p, v2.clone().times(t));
 
  return result;
}</code></pre>