body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size:26px;
  color:#393939;
}

header {
  background:#393939;
  padding:0.2em 0.4em;
  color:white;

  ol {
    margin:0;
    padding:0;
    li {
      display: inline;
      list-style: none;
      font-size: 21px;
    }
  }

  a {
    color: #fefefe;
    text-decoration:none;
  }
}

footer {
  background:#393939;
  padding:0.2em;
  color:white;
  font-size: 16px;
  text-align:center;
}
