@import "normalize";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;600;700&display=swap');
@import "common";

article {
  padding:1em;
  width:900px;
  margin:0 auto;

  h1 {
    font-size:50px;
    font-weight: 600;
  
    &::after {
      content: "";
      display: block;
      height: 5px;
      margin:5px 0 1em 0;
      background: linear-gradient(to right, #43C6AC 0%, #d9e653 100%);
    }
  }
  
  h2 {
    font-size:40px;
    font-weight: 600;
    margin-top: 3em;
  
    &::after {
      content: "";
      display: block;
      height: 5px;
      margin-top:5px;
      background: linear-gradient(to right, #fff 0%, #43C6AC 50%, #fff 100%);
    }  
  }

  h3 {
    margin-top: 2em;
  }

  p {
    line-height: 1.5em;
    margin-bottom: 2.5em;
  }

  b {
    color: #65A9D6;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    color:#43C6AC;

  }
  code {
    background: #eee;
    border:1px solid #ddd;
    border-radius: 5px;
    padding:2px;
  }
  
  pre {
    code {
      border: 1px solid #ddd;
      margin-bottom: 2em;
      font-size:18px;
      line-height: 1.5em;
    }
  }
  
  li:not([class]) {
    line-height: 1.5em;
    margin-bottom: 0.5em;
  }

  ul {
    padding-left: 1em;
  }

  figure {
    table {
      font-size:30px;
      border-collapse: collapse;
      th, td {
        padding:0.2em;
        border: 1px solid #ddd;
      }
      th {
        background-color: #43C6AC;
      }
    }
  }
  
}

.math {
  padding:1em;
  border:1px solid #ddd;
  border-radius: 10px;
  background:#f6fcf5;
  line-height: 2.5em;
}

.somali {
  display: flex;
  justify-content:space-around;
  margin-bottom: 1em;
}

.green {
  color:#40BFB0;
}
.red {
  color: #CA3C6E;
}
.yellow {
  color:#EDAD0B;
}
  

