<!DOCTYPE html>
<html>
  <head>
    <title><%= file.data.title %> | 無職の学び舎 </title>
    <script src="../../../assets/js/mathLab.js"></script>
    <link rel="stylesheet" href="../../../assets/css/default.css">

    <%# vender系のjs,cssの読み込み %>
    <script src="../../../venders/somali/somali.js"></script>
    <script src="../../../venders/highlight/highlight.pack.js"></script>
    <link rel="stylesheet" href="../../../venders/highlight/atom-one-dark.css">

    <script>
      MathJax = {
        chtml: {
          matchFontHeight: false
        },
        tex: {
          inlineMath: [['$', '$']]
        }
      };
    </script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>    

    <script src="../../../assets/js/props.js"></script>
  </head>
  <body>
    <header>
      <a href="../../../index.html">目次</a>
    </header>
    <main>
      <article>
        <h1><%= file.data.title %></h1>
        <%- file.contents %>
      </article>
    </main>

    <footer>
      <span>無職の学び舎 | Nekonecode</span>
    </footer>
    
    <script src="main.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>