<!DOCTYPE html>
<html>
  <head>
    <title><%= file.data.title %> | 無職の学び舎 </title>
    <link rel="stylesheet" href="assets/css/top.css">

    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
      <meta property="og:type" content="website" />
      <meta property="og:title" content="<%= file.data.title %>" />
      <meta property="og:site_name" content="無職はゲーム数学の勉強をする | 無職の学び舎" />
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@ProgPuyan" />    
  </head>
  <body>
    <header>
      
      <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="https://www.nekonecode.com">
            <span itemprop="name">無職の学び舎</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li>&gt;</li>
        <li>無職はゲーム数学の勉強をする</li>
      </ol>
      
    </header>
    <main>
      <article>
        <h1><%= file.data.title %></h1>
        <%- file.contents %>
      </article>
    </main>

    <footer>
      <span>無職の学び舎 | Nekonecode</span>
    </footer>
  </body>
</html>