<!DOCTYPE html>
<html>
  <head>
    <title><%= file.data.title %> | 無職の学び舎 </title>
    <link rel="stylesheet" href="assets/css/top.css">
  </head>
  <body>
    <header>
      
      <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="https://www.nekonecode.com">
            <span itemprop="name">無職の学び舎</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li>&gt;</li>
        <li>無職は数学の勉強をする</li>
      </ol>
      
    </header>
    <main>
      <article>
        <h1><%= file.data.title %></h1>
        <%- file.contents %>
      </article>
    </main>

    <footer>
      <span>無職の学び舎 | Nekonecode</span>
    </footer>
  </body>
</html>