---
title: 直線と直線の衝突
---
<div id="graph1"></div>

<p>直線が衝突すると線が赤くなります。</p>

<h2>考え方</h2>

<p>
  直線があたっているかどうかは、２つの直線が平行かどうかを調べるだけでわかります。
</p>

<p>
  2つの直線が平行でないのならば、必ずどこかで衝突するからです。
</p>

<p>
  また2つの直線が平行な場合でも、直線が完全に重なり合っている場合があります。
</p>

<p>
  このケースも判定できるようにしてみます。
</p>

<h2>直線が平行かどうか</h2>

<div id="graph2"></div>

<p>
  2つの直線が平行の場合、直線の方向ベクトル$\vec{v1}$ と $\vec{v2}$ も平行になるため、$\vec{v1}$ と $\vec{v2}$ の外積は0になります。
</p>

<p class="math">
  $\vec{v1} /\!/ \vec{v2} ならば、\vec{v1} \times \vec{v2} = 0$
</p>

<p>
  直線が交差しているかどうかであれば、この判定だけで終了です。
</p>

<h2>直線が重なっているかどうか</h2>

<div id="graph3"></div>

<p>
  直線上の点 $A$ から $B$ に向かうベクトルを $\vec{v}$ とします。
</p>

<p>
  2つの直線が平行でも、重なっていないとき、<br>
  $\vec{v}$ は 直線の向きベクトル $\vec{v1}$ と平行になっていないのがわかると思います。
</p>

<div id="graph4"></div>

<p>
  2つの直線が重なっている場合は<br>
  この $\vec{v}$ と $\vec{v1}$ は平行になります。
</p>

<p>
  よって、直線が重なっているかどうかは<br>
  $\vec{v}$ と ${\vec{v1}}$ の 外積をとって、外積が0だったら重なっていると判定できます。
</p>

<p class="math">
  直線が重なっている時<br>
  $\vec{v} \times {\vec{v1}} = 0$
</p>


<h3>余談、$A$ と $B$ が重なっていたら？</h3>
<p>
  また、$A$ と $B$ の位置が完全に重なっている場合、$\vec{v}$ は ゼロベクトルになってしまいます。
</p>

<p>
  ゼロベクトルは向きがないので、$\vec{v1}$ と平行かどうかはわかりません。
</p>

<p>
  とはいえ、直線が完全に同じ座標を通るということは、間違いなく当たっているという事はわかります。
</p>

<p>
  ゼロベクトルと $\vec{v}$ との外積も結果は 0 になるので、$A$ と $B$ が重なっていたら？と場合分けをする必要もなさそうです。
</p>

<h2>サンプルコード</h2>

<p>直線が交差しているかどうかと、重なっているかどうかは分けて定義したほうがいいかなと思います。</p>

<pre><code>/**
  * 直線と直線が当たっているかどうか
  * @param l1 直線１
  * @param l2 直線２
  */
 function isHit(l1:Line, l2:Line) 
 {
   // 直線が平行でなければ必ず当たっている
   return (Vector2.cross(l1.v, l2.v) !== 0);
 }
 
 /**
  * 直線と直線が平行であたっているかどうか(重なっているか)
  * @param l1 直線１
  * @param l2 直線２
  */
 function isHitParallel(l1:Line, l2:Line)
 {
   // 直線１の方向ベクトルを v1
   const v1 = l1.v;
 
   // 直線１上の点から直線２上の点に向かうベクトルを v2
   const v2 = Vector2.sub(l1.p, l2.p);
 
   // v1 と v2 の外積が0だったら、線が重なっている
   // (小数点誤差対策)
   return (Math.abs(Vector2.cross(v1, v2)) < Define.EPSILON);
 }</code></pre>