---
title: 点と点の衝突
---
<div id="graph1"></div>

<p>
  点と点の衝突は非常に単純で、２つの点の座標を比較し、一致するかどうかを調べます。
</p>

<h2>計算方法</h2>

<p>
  点Aと点Bがあり、それぞれの座標を以下の通りとした場合
</p>

<ul>
  <li>A$(x1, y1)$</li>
  <li>B$(x2, y2)$</li>
</ul>

<p>
  $x1 = x2$ かつ $y1 = y2$であれば、２つの点は衝突していると言えます。
</p>

<h2>解説</h2>
<p>
  点と点の衝突に関しては、この程度の話しかないのですが、実際のところ、点の座標が小数点以下含めて完全に一致するということはほぼおこりません。
</p>
<p>
  さらにコンピューターには小数点誤差というものが存在するため、一見一致するような数値であっても一致しないという事が往々にして起こります。
</p>

<div id="graph2"></div>

<p>
  このように動きを滑らかにすると見た目上は衝突しているように見えますが、座標が完全一致せずに衝突していないという判定になってしまいます。
</p>

<p>
  この問題を回避するには、衝突判定の際に座標が完全に一致するかどうかではなく、ある程度近かったら当たった事にするというような対応が必要になります。
</p>

<h2>サンプルコード</h2>
<pre><code>function intercect(p1:Vector2, p2:Vector2)
{
  return (p1.x === p2.x && p1.y === p2.y);
}</code></pre>