---
title: 点と点の衝突
---
<div id="graph1"></div>

<p>
  点と点の衝突は非常に単純で、２つの点の座標が一致するかどうかを調べればよい。
</p>

<h2>計算方法</h2>

<p>
  点Aと点Bがあり、それぞれの座標を以下の通りとした場合
</p>

<ul>
  <li>A$(x1, y1)$</li>
  <li>B$(x2, y2)$</li>
</ul>

<p>
  $x1 = x2$ かつ $y1 = y2$であれば、２つの点は衝突している。
</p>

<h2>解説</h2>
<p>
  解説するほどの事はないわけだが、
  実際、点の座標が小数点以下含めて完全に一致するということは稀である。
</p>
<p>
  さらにコンピューターには小数点誤差というものが存在するため動き回る点の座標が完全に一致するという事はほぼ起こりません。
</p>

<div id="graph2"></div>

<p>
  実際、このように動きを滑らかにすると見た目上は衝突しているように見えますが
  小数点誤差によってコンピューター的には当たっていないと判定されます。
</p>