---
title: 点と線分の衝突
---
<div id="graph1"></div>

<p>
  点と線分の当たり判定は、<a href="../point-and-ray/">点と半直線の衝突</a>と似ていてベクトルの<b>内積</b>を使って当たりを判定します。
</p>
<p>
  ただ、線分には長さがあるので内積だけでは判定できず、もうひと手間必要になってきます。
</p>

<div id="graph2"></div>

<p>
  相変わらずですが、小数点の細かい差異のおかげで滑らかな動きにするとほとんどあたりません。
</p>

<h2>前提知識</h2>
<ul>
  <li><a href="../../vector2/dot/">ベクトルの内積</a></li>
  <li><a href="../../vector2/dot2/">ベクトルの内積の特性</a></li>
</ul>

<h2>考え方</h2>
<div id="graph3_1"></div>
<p class="math">
  $ \vec{a} $：線分の向きと長さを表すベクトル<br>
  $ \vec{b} $：線分の始点から $点P$ に向かうベクトル
</p>


<div id="graph3_2"></div>
<p>$点P$ が線分上にあるとき</p>

<div id="graph3_3"></div>
<p>
  $ \vec{a} $ と $ \vec{b} $ は同じ向きで平行になります。
</p>

<p>
  これは<b>点と線分が当たっているかどうかの条件の１つ</b>になります。
</p>

<p>
  しかし、線分には長さがあるので、$ \vec{a} $ と $ \vec{b} $ が同じ向きで平行だったとしても、まだ当たっているかどうかはわかりません。
</p>

<div id="graph3_4"></div>

<p>
  このケースは $ \vec{a} $ と $ \vec{b} $ は同じ向きで平行ですが $点P$ と線分は当たっていません。
</p>

<p>$点P$ が線分の上にあるかどうかを判定する必要があります。</p>

<div id="graph3_5"></div>

<p>
  <b>もし、$点P$ が線分上にあるのであれば、 $\vec{b}$ の長さは $\vec{a}$ の長さより短くなっていなければならないはずです。</b>
</p>
<p>
  よって、$\vec{b}$ と $\vec{a}$ の長さを比較すれば線分上にあるかどうかを判定する事ができます。
</p>

<p>
  点と線分の衝突判定の方法をまとめると
</p>
<p class="math">
  $ \vec{a} $ と $ \vec{b} $ が同じ向きで平行、かつ $|\vec{a}| &gt; |\vec{b}| $ 
</p>

<p>
  という事になります。
</p>

<h3>$ \vec{a} $ と $ \vec{b} $ が同じ向きで平行かどうか</h3>

<p>$ \vec{a} $ と $ \vec{b} $ が同じ向きで平行かどうかは以下の式で判定します。
</p>
<p class="math">
  $ \vec{a} $ と $ \vec{b} $ が同じ向きで平行なとき<br>
  $ \vec{a} \cdot \vec{b} =  |\vec{a}| |\vec{b}| $ が成り立ちます。
</p>

こちらに関しては<a href="../../vector2/dot2">ベクトルの内積の特性</a>や<a href="../point-and-ray/">点と半直線の衝突</a>で解説しています。

<h2>サンプルコード</h2>
<pre><code>/**
  * 点と線分が当たっているかどうか
  * @param p 点
  * @param segt 線分
  */
 function intercect(p:Vector2, seg: Segment)
 {
   // 線分の方向と長さを表すベクトルをa
   const a = seg.v;

   // 線分の始点から点に向かうベクトルをbとする
   const b = Vector2.sub(p, seg.p1);
 
   // ベクトルaの長さをal、ベクトルbの長さをblとする
   const al = a.magnitude;
   const bl = b.magnitude;
 
   // a と b の長さを掛け合わせたものを ab
   const ab = al * bl;

   // a と b の内積を dot
   const dot = Vector2.dot(a, b);

   // p が線分上にあるとしたら、a と b は同じ向きで平行なはずなので
   // dot = ab になっているはず、なっていなければ当たっていない
   if (dot !== ab) {
    return false;
   } 
 
   // bの長さが a の長さより短ければ当たっているといえる
   return (al > bl);
 }</code></pre>